PORT=3000
ALLOWED_ORIGINS=http://localhost:5173,http://localhost:4173
SUPABASE_URL=https://ubzfparhgfgghvbxzxid.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InViemZwYXJoZ2ZnZ2h2Ynh6eGlkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY2NzgzMzMsImV4cCI6MjA5MjI1NDMzM30.pwo8vK-ZrKfW_YWGfBQCOJ1aGKCxHAisOapkOEt8W4Q
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InViemZwYXJoZ2ZnZ2h2Ynh6eGlkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjY3ODMzMywiZXhwIjoyMDkyMjU0MzMzfQ.NajScGhPVITZ6aWVyuW84KIuPEa4TP-4buCbWajc2bM
DATABASE_URL=postgresql://postgres.ubzfparhgfgghvbxzxid:5%3F%2APvRu%2CCSb5%2Fi9@aws-1-eu-central-1.pooler.supabase.com:6543/postgres
FRONTEND_URL= http://localhost:5173/
CALLMEBOT_API_KEY=5041945
CALLMEBOT_PHONE=+22674578186